
    <div class="d-flex flex-row">
      <div class="text-left hud" style="width: 15%;">
        <span>Tile Record: {{Highscore.toLocaleString()}} <i class="bi bi-trophy"></i></span>
      </div>
      <div class="text-center hud" style="width: 70%;">
        <span>Cred Payout: {{Cashout.toLocaleString()}} <i class="bi bi-coin"></i> </span>
      </div>
      <div class="text-right hud" style="width: 15%;">
        <button class="hud btn btn-sm btn-outline-warning" (click)="CashOut()" >Cash Out</button>
      </div>
    </div>
  